{
    "printWidth": 130,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "semi": true,
                "printWidth": 100
            }
        }
    ]
}
